body{
    margin:0;
}
/*--SECCION 01-INTRO--*/
.gridcont-intro{
    height: 100vh;
    block-size: border-box;
    padding: 35px;
    margin: 0;
    background-color: lightpink;
    display: grid;
    grid-template-columns:[col-1] 1fr ;
    grid-template-rows: 85% 15%;
    align-items: center;
    justify-items: center;
    align-content: space-evenly;
    justify-content: center;
    grid-template-areas: 
    "mnsj"
    "scr";
}    
.item-intro {
    grid-area: mnsj;
}

.item-indicador {
    grid-area: scr;

}
/*--MENÚ--*/
#menu {
    grid-area: mnu;
    margin: 0%;
    padding: 0%;
}
.mainMenu ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-content: center;
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
    background: transparent;
}
    .mainMenu li {
        display: flex;
    }

    .mainMenu li a {
        text-decoration: none;
        color: black;
        padding: .6em 1em;

    }
    .mainMenu li:hover {
        background: white;
    }
    .mainMenu li a:hover {
        color: black;
    }
    .txtBtn {
        font-size: 18px;
    }
    /*--SECCION 02-PRESENTACION--*/
.gridcont-presentacion {
    height: 100vh;
    block-size: 100vw;
    padding: 35px;
    margin: 0;
    background-color:goldenrod;
    display: grid;
    grid-template-columns:[col-1] 1fr [col-2] 1fr[col-3] 1fr ;
    grid-template-rows: [row-1] 5% [row-2] 40% [row-3] 25%[row-4] 10%[row-5] 10% [row-6] 10%;
    align-items: center;
    justify-items: center;
    align-content: space-evenly;
    justify-content: center;
    grid-template-areas: 
    "mnu mnu mnu"
    "nva . nvo"
    "mnsj mnsj mnsj"
    "lgr fch hra"
    "frml . kds"
    "ctd ctd ctd"
    ;
}

.item-novia {
    grid-area: nva;
    }

.item-novio {
    grid-area: nvo;
    }

.item-mensaje {
    text-align: center;
    grid-area: mnsj;
    }

.item-lugar {
    grid-area: lgr;
    }

.item-fecha {
    grid-area: fch;
    }

.item-hora {
    grid-area: hra;
    }

.item-formal {
    grid-area: frml;
    }

.item-kids {
    grid-area: kds;
    }

.item-countdown {
    grid-area: ctd;
    }
    
/*--SECCION 03-TESTIGOS--*/
.gridcont-padres {
    height: 100vh;
    block-size: 100vw;
    padding: 35px;
    margin: 0;
    background-color:lightcoral;
    display: grid;
    grid-template-columns:[col-1] 1fr [col-2];
    grid-template-rows: [row-1]5% [row-2]15% [row-3]32.5%[row-4]15% [row-5]32.5%;
    align-items: center;
    justify-items: center;
    align-content: space-evenly;
    justify-content: space-evenly;
    grid-template-areas: 
    "mnu mnu"
    "msj1 msj1"
    "pps-nva pps-nvo"
    "msj2 msj2"
    "pds-nva pds-nvo";        ;
}

.item-mensaje1 {
    grid-area: msj1;
    }

.item-padres-novia {
    grid-area: pps-nva;
    }

.item-padres-novio {
    grid-area: pps-nvo;
    }

.item-mensaje2 {
    grid-area: msj2;
    }

.item-padrinos-novia {
    grid-area: pds-nva;
    }

.item-padrinos-novio {
    grid-area: pds-nvo;
    }

/*--SECCION 03-TIMELINE--*/
.gridcont-timeline {
    height: 100vh;
    block-size: 100vw;
    padding: 35px;
    margin: 0;
    background-color:lightseagreen;
    display: grid;
    grid-template-columns:[col-1] 1fr [col-2] 1fr;
    grid-template-rows: [row-1] 5% [row-2] 45% [row-3] 40%[row-4] 10%;
    align-items: center;
    justify-items: center;
    align-content: space-evenly;
    justify-content: center;
    grid-template-areas: 
    "mnu mnu"
    "fto1 fto2"
    "info1 info2"
    "lnk1 lnk2"
    ;
}

.item-fotoceremonia {
    grid-area: fto1;
    }

.item-fotorecepcion {
    grid-area: fto2;
    }

.item-infoceremonia {
    grid-area: info1;
    }

.item-inforecepcion {
    grid-area: info2;
    }

.item-linkceremonia{
    grid-area: lnk1;
    }

.item-linkrecepcion {
    grid-area: lnk2;
    }

/*--SECCION 04-RSVP--*/
.seccionRsvp {
    height: 100vh;
    padding: 35px;
    margin: 0;
    background-color:linen;
    display: flex;
    flex-direction: column;
    align-content:center;
}
#menuRsvp{
    display: inline-block;
    margin-top: 35px;
    margin-bottom: 100px;
    list-style-type: none;

    background: transparent;
}

.rsvpTitulos {
    background-color: linen;
    margin-top: 1px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-self: center;
     /*grid-area: titulos;*/
}
.rsvpTtltxt{
    margin: 1px;
    padding: 0px;
}
.rsvpH2{
    margin: 1px;
    padding: 0px;
}

.rsvpSubtxt{
    background-color: linen;
    margin-top: 20px; 
    margin-bottom: 20px;
    margin-left: -30px; 
    margin-right: -30px;
    padding: 0px;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: rosybrown;
}
.rsvpP{
    text-align: center;
    margin-top: 15px;
    padding: 0px;
}
    
.rsvpFormulario {
    background-color: linen;
    border-right-style: solid;
    border-right-width: 1px;
    border-left-style: solid;
    border-left-width: 1px;
    border-color:rosybrown;
    width: 70%;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-self: center;
    margin-top: 50px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 25px;
    padding-right: 25px;
    /*grid-area: formulario;*/
}

    .rsvpFormLabel{
        padding-top:20px;
        margin-top:0%;
        margin-bottom: 20px;
        font-size: 18px;
    }

    .rsvpFormfield{
        background-color: linen;
        width: 100%;
        padding: 0%;
        margin-bottom: 20px;
        outline: none;
        border-bottom-style: solid;
        border-bottom-color: rosybrown;
        border-bottom-width: 1px;
        border-top: none;
        border-left: none;
        border-right: none;
        font-size: 18px;
    }
    .rsvpRadio{
        background-color: linen;
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        align-self: center;
        font-size: 18px;
    }
    .radioBtn{
        width: 20px;
        height: 20px;
    }
    .radio1{
        border-right-style: solid;
        border-right-color: rosybrown;
        border-right-width: 1px;
        padding-right: 20px;
        border-top: none;
        border-left: none;
        border-bottom: none;
    }
    .radio2{
        margin-left: 20px;
    }

    .rsvpBtn{

        align-self: center;
        text-align: center;
        justify-self: center;
        border:none;
        border-radius: 2px;
        background-color: rosybrown;
        color: white;
        width: 50%;
        height: 30px;
        font-size: 16px;
        overflow: hidden;
        margin-top: 20px;

    }
    .rsvpBtn:hover{
        background-color:darkgray;
    }

/*--SECCION 05-MESA DE REGALOS--*/
.gridcont-regalos {
    height: 100vh;
    block-size: 100vw;
    padding: 35px;
    margin: 0;
    background-color:lightskyblue;
    display: grid;
    grid-template-columns:[col-1] 1fr [col-2] 1fr;
    grid-template-rows: [row-1] 5% [row-2] 20% [row-3] 20%[row-4] 55%;
    align-items: center;
    justify-items: center;
    align-content: space-evenly;
    justify-content: center;
    grid-template-areas: 
    "mnu mnu"
    "msjreg msjreg"
    "icon1 icon2"
    "info1 info2"
    ;
    text-align: center;
}

.item-mensajeregalos {
    grid-area: msjreg;
    }

    .item-iconmesa {
    grid-area: icon1;
    }

.item-iconsobre {
    grid-area: icon2;
    }

.item-infomesa {
    grid-area: info1;
    }

.item-infosobre{
    grid-area: info2;
    }

